# Entorno virtual
Ruvenv/
venv/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración locales
.env
*.sqlite3

# Modulos de Node
node_modules/

# Archivos de Django
db.sqlite3
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/

# Archivos de migración (opcional si son grandes)
*/migrations/*
!*/migrations/__init__.py
